.documentation-section {
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  padding: 60px 5% 50px 5%;
  color: #FAFAED;
  background: linear-gradient(163.91deg, #011335 17.17%, #143166 88.29%);
}

.documentation-text {
  width: 50%;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 400px;
}

.documentation-section h2 {
  color: #66FFE2;
  margin: 0;
}

.documentation-image-container {
  width: 35%;
}

@media screen and (max-width: 600px) {
  .documentation-image-container {
    display: none;
  }
  .documentation-text {
    width: 100%;
    padding: 0 16px;
    justify-content: space-around;
    min-height: 600px;
  }
  .documentation-text h2 {
    margin-top: 20px;
  }
  .documentation-section {
    justify-content: space-between;
    min-height: 620px;
    align-items: center;
  }
}
