.test-section {
  background-image: url("../../../assets/images/model-orange.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100vh;
  border: 1px solid red;
}