.action-button {
  height: 56px;
  /* border-radius: 6px; */
  border: none;
  outline: none;
  font-size: 21px;
  position: relative;
  background-color: #73E5E2;
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  color: white;
}

.action-button:hover {
  background-color: #4464cf !important;
}

/* .action-button:after {
  content: "";
  background: #73E5E2;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.action-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */