.intro-section {
  min-height: 100vh;
  flex-wrap: wrap;
  padding: 45px 5%;
  box-sizing: border-box;
  background-color: #fff;
}

.intro-content {
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  text-align: start;
  color: #000;
  font-size: 3em;
  line-height: 133%;
  font-weight: bold;
  width: 50%;
}

.intro-text p {
  font-family: 'Gotu', sans-serif;
  margin: 10px 0 40px 0;
}