.how-it-works-section {
  min-height: 100vh;
  color: #000;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.hiw-left-section {
  width: 50%;
  text-align: start;
  padding: 20px 5%;
  font-size: 1.2em;
  line-height: 1.5em;
}
