.how-it-works-section {
  background-image: url("../../../assets/images/model-orange.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100vh;
  /* background-color: rgb(202, 182, 165); */
  /* border: 1px solid red; */
}

.hiw-left-section h2 {
  color: 000;
}

.hiw-left-section {
  width: 50%;
  text-align: start;
  padding-left:5%;
  padding-right: 5%;
  padding-top: 20px;
  font-size: 1.1em;
  color: #000;
}

.hiw-left-section > p > span {
  display: block;
  margin: 8px 0;
}

.hiw-right-section {
  /* width: 20%; */
  /* height: 100%; */
  height: 100vh;
  width: 30%;
  justify-content: space-between;
  /* background-image: url("../../../assets/images/rosa-img.jpg"); */
}


@media screen and (max-width: 700px) {

}