.what-we-do-card {
  justify-content: flex-start;
  margin: 0 5px;
  width: 30%;
  padding-top: 0;
  text-align: center;
}

.what-we-do-card h3, div {
  text-align: start;
}

@media screen and (max-width: 600px) {
  .what-we-do-card {
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
  }
}