.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: 100px; */
}

@media screen and (max-width: 600px) {
  .bottom-section {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}