.contactus-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contactus-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textarea-input {
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 7px 0 10px 0;
  width: 98%;
}

.contact-us-image-container {
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  .contact-us-image-container {display: none;}
  .contactus-section {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }
  .textarea-input {width: 280px !important;}
}