.footer {
  min-height: 150px;
  box-sizing: border-box;
  background: #000;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5%;
}

.footer-contact {
  text-align: start;
  width: 50%;
}

.footer-contact p {
  margin: 2px;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0 16px !important;
  }
}